@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@font-face {
  font-family: "dirtyline";
  src: url("/src/assets/font/dirtyline.ttf") format("truetype");
}
@import "tailwindcss";

@layer base {
  :root {
    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgb(255, 255, 255);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    text-decoration: none;
  }
  body {
    user-select: none;
  }
}

@theme {
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-dirtyline: "dirtyline";
  --text-grey: rgba(255, 255, 255, 0.5);
  --text-xl: 10.625rem;
  --text-lg: 2.5rem;
  --text-md: 1.688rem;
  --text-sm: 1.125rem;
}
.subtitle {
  font-family: var(--font-bricolage);
  font-size: var(--text-md);
}

p {
  font-family: var(--font-bricolage);
  font-size: var(--text-sm);
  color: var(--text-grey);
  line-height: 100%;
}
